.card {
    width: 18rem;
    
}

.text {
    gap: 5px;
}

.card-text {
    margin-top: -5px;
}

.animation {
    transition-duration: 1s;
}

.animation:hover {
    -webkit-transform: scale(1.05);transform: scale(1.05);
}