.container {
    border: 4px solid #e4d3ae;
    width: 200px; height: 200px;
    border-style: outset;
    
}

p {
    color: rgb(0, 0, 0);
    
}

header {
    background-color: #e4d3ae;
    padding: 20px;
    margin: -10px;
}

footer {
    background-color: #cf4833;
    padding: 20px;
    margin: -10px;
}

ul {
    background-color: #e4d3aebe;
    padding: 0px;
    margin: 50px;
    border-style: groove;
    
}

body {
    background-color: #fafaee; 
    background-image: url(Assets/istockphoto-1293996796-612x612.jpg);
}


h3 {
    margin: 30px;
    padding: auto;
}