.background {
    z-index: -1;
    position:relative;
    margin-top: -30px ;
  background: url(../Assets/fruit-Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  width: 100%;
  height: 900px;
}

.fontColor {
    color: orange;
   
}

.textMove {
    color: rgb(157, 157, 157);
    font-size: 70px;
    padding-top: 100px;
    padding-left: 1000px;
    width: 100%;
   
   
}

.otherBackground {
    
    background-color: rgb(255, 176, 28);
    width: 100%;
    height: 500px;
    box-shadow: -0px 0px 20px 10px rgba(0, 0, 0, 0.416);
}

.theButton {
    font-size: 40px;
    width: 700px;
}